<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>926305691868-0phomign15t80vfie77d6415sh9brt7q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.926305691868-0phomign15t80vfie77d6415sh9brt7q</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>926305691868-6grf1ffiru4l3umk66tgj8qpkc8psqdm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB--9vKDCnNUdSvOn7jq_rmUxoT6oUn-uI</string>
	<key>GCM_SENDER_ID</key>
	<string>926305691868</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tuban.LarvaBouncyBall</string>
	<key>PROJECT_ID</key>
	<string>larva-bouncy-ball</string>
	<key>STORAGE_BUCKET</key>
	<string>larva-bouncy-ball.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:926305691868:ios:5c411203e7f5fceca42c19</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-1272300599065219~7598127729</string>
</dict>
</plist>